@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color de fondo oficial de Netflix */
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Scrollbar oscura para Chrome/Safari */
::-webkit-scrollbar {
  width: 10px;
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E50914; /* Un toque rojo al hacer scroll */
}